@font-face {
  font-family: 'sell-icon';
  src:  url('../fonts/sell-icon.eot?v2efda');
  src:  url('../fonts/sell-icon.eot?v2efda#iefix') format('embedded-opentype'),
    url('../fonts/sell-icon.ttf?v2efda') format('truetype'),
    url('../fonts/sell-icon.woff?v2efda') format('woff'),
    url('../fonts/sell-icon.svg?v2efda#sell-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sell-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-poll:before {
  content: "\e801";
}
.icon-audiotrack:before {
  content: "\e3a1";
}
.icon-developer_board:before {
  content: "\e30d";
}
.icon-star:before {
  content: "\e838";
}
.icon-import_contacts:before {
  content: "\e0e0";
}
.icon-visibility:before {
  content: "\e8f4";
}
.icon-save:before {
  content: "\e161";
}
.icon-slow_motion_video:before {
  content: "\e068";
}
.icon-toys:before {
  content: "\e332";
}
.icon-web:before {
  content: "\e051";
}
.icon-th-list:before {
  content: "\e900";
}
.icon-flag:before {
  content: "\e901";
}
.icon-times-outline:before {
  content: "\e902";
}
.icon-star-outline:before {
  content: "\e903";
}
.icon-heart-outline:before {
  content: "\e904";
}
.icon-message-typing:before {
  content: "\e905";
}
.icon-thumbs-up:before {
  content: "\e906";
}
.icon-thumbs-down:before {
  content: "\e908";
}
.icon-flow-merge:before {
  content: "\e909";
}
.icon-quill:before {
  content: "\e907";
}
.icon-file-text:before {
  content: "\e922";
}
.icon-bubbles2:before {
  content: "\e96d";
}
.icon-search:before {
  content: "\e986";
}
.icon-rocket:before {
  content: "\e9a5";
}
.icon-power:before {
  content: "\e9b5";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-google-plus3:before {
  content: "\ea8d";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-github:before {
  content: "\eab0";
}
.icon-tumblr2:before {
  content: "\eaba";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-chrome:before {
  content: "\ead9";
}

